<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Phpro\CookieConsent\DataProvider\Modifier\CookieGroupPool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="eav_fields_modifier" xsi:type="array">
                    <item name="class" xsi:type="string">Phpro\CookieConsent\Ui\DataProvider\CookieGroup\Form\Modifier\Fields</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Phpro\CookieConsent\Ui\DataProvider\CookieGroup\Form\DataProvider">
        <arguments>
            <argument name="modifiersPool" xsi:type="object">Phpro\CookieConsent\DataProvider\Modifier\CookieGroupPool</argument>
        </arguments>
    </type>
</config>
